export(omicplotr.anosim)
export(omicplotr.clr)
export(omicplotr.colouredPCA)
export(omicplotr.colvec)
export(omicplotr.filter)
export(omicplotr.getRemovedFeatures)
export(omicplotr.getRemovedSamples)
export(omicplotr.metadataFilter)
export(omicplotr.permanova)
export(omicplotr.report)
export(omicplotr.run)

importFrom("grDevices", "colorRampPalette", "rgb")
importFrom("stats", "dist", "prcomp", "quantile", "var")
importFrom("compositions", "coloredBiplot")
importFrom("zCompositions", "cmultRepl")
importFrom("vegan", "anosim", "adonis")
importFrom("shiny", "validate", "need")
